//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
   display: inline-flex;
   padding: 0px 0px;
   text-transform: uppercase;
   transition: all 0.3s ease 0s;
   
   @media (any-hover: hover) {
      &:hover {
         background-color: #333618;
      }
   }
   &._fw {
      width: 100%;
   }
}
